
nav:hover{
width: 30vh;
.items p,.a h1{
    display:block;
}
}

nav{
    height: 100vh;
    width: 10vh;
    overflow-y: scroll;
}
img{
    width: 20%;
    height: 30%; 
  /* padding-top: 3%; */
 margin-top: 20px;
}
#imgs{
   width: 30%;
   height: 50%; 
   /* position: fixed; */
   /* margin-top:18px; */
}
.a{
    padding-top: 20px;
    display: flex;
    flex-flow: row;
    gap: 5%;
    /* align-items: center; */
}
.items
{
    display: flex;
    flex-flow: row nowrap;
    color: rgb(80,88,98);
}
.material-symbols-outlined{
    margin-top: 15px;
    padding-left: 1.5%;
    padding-right: 8%;
}
.last{
    margin-top: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.items p,.a h1{
    display:none;
}
.items:hover{
     background:rgb(169, 169, 238); 
    border: 1px solid blue; 
    background-color: aqua;
    cursor: pointer;
}   
.two{
  position: relative;
  top: 30px;
}
